<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Service Config Notifier</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet" />
</head>

<body>
  <main id="app" class="container mt-5">
    <header class="mb-3">
      <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
          <div>
            <h2 v-html="product"></h2>
            <small class="pl-1">&mdash; {{ description }}</small>
          </div>
        </div>
        <div class="col-sm-6 d-flex justify-content-end align-items-center">
          <config-nav></config-nav>
        </div>
      </div>
    </header>
    <article>
      <section>
        <div class="row">
          <div class="col-sm-6">
            <h3>Todos</h3>
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
          </div>
          <div class="col-sm-6">
            <h3>Components</h3>
            <ol>
              <todo-item v-for="todo in todos" :todo="todo" :key="todo.id"></todo-item>
            </ol>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-6">
            <h3>Models</h3>
            <input v-model="message" placeholder="Enter message" class="form-control mb-2" max="20" />
            <div class="p-3 mb-2 bg-light text-dark">Computed: <span>{{ reversedMessage || "No message entered" }}</span></div>
            <button @click="reverseMessage" class="btn btn-primary">
              Reverse Message
            </button>
          </div>
          <div class="col-sm-6">
            <h3>Activities</h3>
          </div>
        </div>
      </section>
    </article>
    <footer>Copyright&copy; <time v-html="getYear()"></time></footer>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>